<br>
<br>

<div class="new_resource_container">
  <div class="new_resource_caption">
    <p>Welcome to the Continuous Testing Framework!</p>
  </div>
</div>

<div class="container">
  <table class="responsive-table">
    <caption>Please, complete the following steps to run tests</caption>
    <thead>
       <tr>
          <th scope="col">ID</th>
          <th scope="col">Action</th>
          <th scope="col">Description</th>
       </tr>
    </thead>
    <tfoot>
      <tr>
        <td></td>
      </tr>
    </tfoot>
    <tbody>
        <tr>
            <td data-title="ID">1</td>
            <td data-title="Action">Create at lest one docker host using "Docker hosts" link</td>
            <td data-title="Description">At leas one docker host configuration is needed to run the tests</td>
        </tr>
        <tr>
            <td data-title="ID">1</td>
            <td data-title="Action">Create at lest one InfluxDB host using "InfluxDB hosts" link</td>
            <td data-title="Description">At leas one InfluxDB host configuration is needed to run the tests</td>
        </tr>
        <tr>
            <td data-title="ID">1</td>
            <td data-title="Action">Create at lest one test using "Tests" link</td>
            <td data-title="Description">At leas one test configuration is needed to schedule it</td>
        </tr>
    </tbody>
  </table>
</div>
